<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Delicious">
    <meta name="apple-mobile-web-app-title" content="Delicious">
    <meta name="msapplication-starturl" content="/index.html">
    <meta name="theme-color" content="#E55353" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">

    <meta name="title" content="https://laper.netlify.app/">
    <meta name="description" content="Temukan restoran dan kafe kesukaan kamu">
    <meta name="keywords" content="restoran, kafe, makan, minum">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="14 days">
    <meta name="author" content="aldhyyy">

    <title>Delicious App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <script async src="https://kit.fontawesome.com/f5e4bb16ed.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- skip to content if user using tab in first load  -->
    <a href="#mainContent" class="skip-link">Menuju ke konten utama</a>

    <header class="header">
        <div class="header__inner">
            <a href="/">
                <img src="./images/logos/logo.svg" alt="Logo Delicious" class="header__logo">
            </a>

            <button type="button" id="hamburger" aria-label="Lihat Menu">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <nav id="drawer" class="nav">
                <button type="button" id="closeHamburger" aria-label="Tutup Menu">
                    <i class="fa fa-close fa-2x"></i>
                </button>
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/#">
                            Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/#/favorite">
                            Favorite
                        </a>
                    </li>
                    <li class="nav__item">
                        <a rel="noreferrer" href="https://www.linkedin.com/in/aldhyyy" target="_blank">
                            About Us
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="navBackground"></div>

    <main id="mainContent">

    </main>
    <footer>
        <div class="copyright">
            <p class="copyright__text" tabindex="0">
                Copyright © 2021 - Delicious Apps
            </p>
        </div>
    </footer>

</body>

</html>